<div class="wrapper">

    <form class="container">
        <h2 class="title">Register</h2>

      <div class="email">
        <label for="email">Email </label>
        <input type="email" placeholder="Enter Email" name="email">
      </div>
      <div class="uname">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" name="username">
      </div>
  
      <div class="pw">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
      </div>
  
      <button class="submit-btn" type="submit">Sign in</button>
  
      <p class="login">Already have an account? <a routerLink="/login" routerLinkActive="active">Login</a>.</p>
    </form>
  </div>
  
