<nav class="navbar">
    <div class="title">
      <p>Website name</p>
    </div>
    <div class="products">
      <a routerLink="/search" routerLinkActive="active">
        <p>Products</p>
      </a>
    </div>
    <div class="user">
      <a routerLink="/user_home" routerLinkActive="active">
        <img src="../../../assets/img/user.svg">
      </a>
    </div>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">
        <img src="../../../assets/img/shopping_cart.svg">
      </a>
    </div>
    <div class="logout">
      <button class="logout-btn" (click)="logMeOut()">Logout</button>
    </div>
  </nav>
