.navbar {
    text-align: center;
    border-bottom: dashed;
    border-color: #E893B6;

    display: grid;
    grid-template-columns: 10% 10% 60% 5% 5% 10%;
    align-items: flex-end;

    .title {
        grid-column: 1 / span 1;

        img {
            width: 70px;
            height: 70px;
            position: relative;
            top: -2px;
        }


    }

    .products {
        grid-column: 2 / span 1;
    }
    .user {
        grid-column: 4 / span 1;
        margin-left: 10%;
        margin-right: 20%;
        padding-top: 1vh;
        img {
            width: 50px;
            height: 50px
        }
    }
    .cart {
        grid-column: 5 / span 1;

        img {
            width: 45px;
            height: 45px;
            position: relative;
            top: -2px;
        }

    }
    .logout {
        grid-column: 6 / span 1;

        .logout-btn {
            background-color: #E893B6;
            color: white;
            font-size: 1em;
            width: 60%;
            height: 6vh;
            margin-bottom: 1vh;
            margin-right: 5%;
            margin-top: 15%;
            border: none;
            transition-duration: 0.4s;
            position: relative;
            top: -7px;
        }
        .logout-btn:hover {
            background-color: white;
            border: 2px solid #E893B6;
            color: black;
          }
    }
}
