<div class="bg"></div>
<div class="wrapper">
  <div class="title-website">
    <h3>Welcome to Purch</h3>
  </div>
  <div class="desc">
    <p>Purch has all your shopping needs in one convienient website! Just sign up, join the club, and get ready to make
      a Purch!</p>
  </div>
  <div class="btn-container">
    <button class="login" type="button" routerLink="/login" routerLinkActive="active">LOGIN</button>
    <button class="sign-up" type="button" routerLink="/register" routerLinkActive="active">SIGN UP !</button>
  </div>
</div>
