<div class="bg"></div>
<div class="wrapper">
  <div class="title-website"><h3>JustRight Shopping</h3></div>
  <div class="desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Hac habitasse platea dictumst quisque. Massa id neque aliquam vestibulum morbi. Luctus venenatis
      lectus magna fringilla. Aliquam malesuada bibendum arcu vitae. Diam quis enim lobortis scelerisque fermentum dui
      faucibus in. Felis donec et odio pellentesque diam volutpat commodo. </p>
  </div>
  <div class="btn-container">
    <button class="login" type="button" routerLink="/login" routerLinkActive="active">LOGIN</button>
    <button class="sign-up" type="button" routerLink="/register" routerLinkActive="active">SIGN UP !</button>
  </div>
</div>
