<div class="bg"></div>
<div class="wrapper">
  <app-header class="navbar"></app-header>
  <div class="sidebar">
    <a routerLink="/cart" routerLinkActive="active">search criteria</a>
  </div>

  <div class="body-content">
    <form class="search-form" (submit)="onSearch(searchForm)" #searchForm="ngForm" novalidate>
      <input type="text" name="search" class="form-control" id="search" placeholder=" Search" ngModel #search="ngModel"
        required>
      <button type="submit" style="visibility: hidden">hidden submit</button>
    </form>

    <div class="item-results">
      <div class="item" *ngFor="let i of items">
        <a [routerLink]="['/item/' + i._id]" routerLinkActive="active">
          <img src="{{i.image}}" alt="">
          {{i.name}}
          {{i.price}}
        </a>
      </div>
    </div>
  </div>

</div>
