<div class="bg"></div>
<div class="wrapper">
  <app-header class="navbar"></app-header>
  <div class="sidebar">
    <a routerLink="/cart" routerLinkActive="active">search criteria</a>
  </div>

  <div class="body-content">
    <form class="search-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input type="text" class="form-control" id="search" placeholder=" Search" required [(ngModel)]="model.name" name="search-name">
      <button type="submit" style="visibility: hidden">hidden submit</button>
    </form>

    <div class="item-results">
      <div class="item">item1</div>
      <div class="item">item2</div>
      <div class="item">item3</div>
      <div class="item">item4</div>
      <div class="item">item5</div>
      <div class="item">item6</div>
      <div class="item">item7</div>
      <div class="item">item8</div>

      
    </div>
  </div>

</div>
