<div class="bg"></div>
<div class="wrapper">
  <app-header class="navbar"></app-header>
  <div class="sidebar">
    <a routerLink="/cart" routerLinkActive="active">search criteria</a>
  </div>
  
  <div class="body-content">
    <form class="search-form" novalidate>
      <input type="text" name="search-name" class="form-control" id="search" placeholder=" Search" required>
      <button type="submit" style="visibility: hidden">hidden submit</button>
    </form>      
    
    <div class="item-results">
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      <div class="item">
          <a routerLink="/item" routerLinkActive="active">item1</a> 
      </div>
      
    </div>
  </div>
  
</div>
