<div class="wrapper">

  <form class="container">
      <h2 class="title">Login</h2>
    <div class="uname">
      <label for="username">Username</label>
      <input type="text" placeholder="Enter username" name="username">
    </div>

    <div class="pw">
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="password">
    </div>

    <button class="submit-btn" type="submit">Sign in</button>

    <p class="register">Don't have an account? <a routerLink="/register" routerLinkActive="active">Register</a>.</p>
  </form>
</div>
