<div class="wrapper">
  <app-header class="navbar"></app-header>
  <div class="purchase-container">
    <h2>Purchase History</h2>
    <div class="order">



      <div class="order-item" *ngFor="let i of items">

        <div class="pic">
          <img src="{{i.image}}" alt="">
        </div>
        <div class="desc">
          <p>{{i.name}}</p>
        </div>
        <div class="price">
          <p>${{i.price}}</p>
        </div>
        <div class="rate">
          <form class="rating">
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
