<div class="wrapper">
  <app-header class="navbar"></app-header>
  <div class="purchase-container">
    <h2>Purchase History</h2>
    <div class="order">

      <div class="order-item" *ngFor="let i of items">

        <div class="pic">
          <img src="{{i.product['img']}}" alt="">
        </div>
        <div class="desc">
          <p>{{i.product['description']}}</p>
        </div>
        <div class="price">
          <p>{{i.product['price']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
