<div class="wrapper">
  <header class="header">
    Website Title
  </header>

  <form class="info-and-review" action="">

    <div class="info-container">
      <h3 class="contact">Contact Info</h3>
      <input type="email" class="email" name="em"  placeholder="Email" required>
      <h3 class="shipping">Shipping Info</h3>
      <input type="text" class="fname" name="fname" placeholder="First Name" required>
      <input type="text" class="lname" name="lname" placeholder="Last Name" required>
      <input type="text" class="address" name="address" placeholder="Address" required>
      <input type="text" class="address2" name="address2" placeholder="Apartment, suite, etc (optional)">
      <input type="text" class="city" name="city" placeholder="City" required>
      <input type="text" class="state" name="state" placeholder="State" required>
      <input type="text" class="zip" name="zip" placeholder="ZIP Code" required>
      <input type="tel" class="phone" name="phone" placeholder="Phone" required>
    </div>

    <div class="summary">

      <div class="item">

      </div>
      <div class="item">
        
      </div>
      <div class="item">
        
        </div>


      <div class="total">
        <h3>Subtotal:</h3>
        <h3 class="total-dollar-amt">$xx.xx</h3>
      </div>
      <button type="submit" class="submit-btn">Purchase</button>
    </div>

  </form>
</div>
