<div class="wrapper">

  <app-header class="navbar"></app-header>

  <div class="in-cart">

    <div class="cart-title">
      <h3>Shopping Cart</h3>
    </div>

    <div class="item" *ngFor="let item of itemsFromSession">
      <div class="pic">
        <img src="{{item.image}}">
      </div>
      <div class="desc">
        <p>{{item.name}}: ${{item.price}}</p>
      </div>
      <div class="qty-container">
        <label for="qty">Qty: </label>
        <select name="qty" id="qty">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="remove">
          <button class="remove-btn">Remove</button>
      </div>
    </div>
  </div>

  <div class="summary">
    <h3 class="subtotal">Subtotal:</h3>
    <h3 class="total-dollar-amt">${{subtotal}}</h3>
    <button class="submit-btn" type="button" routerLink="/checkout" routerLinkActive="active"> Proceed to
      Checkout</button>
  </div>
</div>
