<div class="bg"></div>
<div class="wrapper">

  <app-header class="navbar"></app-header>

  <div class="body-content">

    <div class="go-back">
      <button class="back-btn" routerLink="/search" routerLinkActive="active">Back</button>
    </div>

    <div class="item-picture">
      <img src="{{item.image}}" alt="">
    </div>

    <div class="item-desc">
      <div class="desc">
        <h2>{{item.name}}</h2>
        <h2>${{item.price}}</h2>
        <p>Item description asdfjads alksjfdh adf halksjdfa hasdfkl alsdjfk alkf </p>
        <form class="add-to-cart" action="">
          <select class="quantity">
            <option class="qty-default" selected>Qty:</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <button type="submit" class="submit-btn">Add To Cart</button>
        </form>

      </div>
    </div>
  </div>

</div>
