/* this defaults all the borders to zero as some browers don't set this as default */
@import url('https://fonts.googleapis.com/css?family=Muli');

HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Muli', sans-serif;
}

a , button {
    cursor: pointer
}

a {
    text-decoration: none;
    color: #E893B6;
    transition-duration: 0.4s;
}
a:hover {
    text-decoration: underline; 
}
a:visited {
    color: #E893B6
}
